.user-login {
	padding: 66rpx;

	.login-type {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin: 40rpx 0 80rpx;
		line-height: 1;

		.title {
			font-size: 48rpx;
			color: #2A2929;
		}

		.type {
			color:#dd524d;
			font-size: 28rpx;
			display: flex;
			align-items: center;
		}

		.icon-caret {
			font-size: 50%;
			margin-left: 10rpx;
		}
	}
}
.button-hover {
	width: 309px;
	height: 50px;
	background: #ef4f3f;
	border-radius: 24.77px;
	color: #fff;
}
.uIcons {
	position: absolute;
	left: 330px;
	bottom: 3px;
}
.Captcha {
	position: absolute;
	left: 260px;
	bottom: 10px;
	border-left: 1px solid #ccc;
	.Captchas {
		margin-left: 8px;
	}
}
.input {
	border-top: 1px solid #ccc;
	margin-top: 10px;
}